body{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: white;
    background-image: linear-gradient( 89.7deg,  rgb(228, 228, 228) 2.8%, rgb(14, 51, 236) 97.8% );
    padding-left: 40px;
    padding-bottom: 80px;
    
}
.title{
  padding: 20px;;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(87, 203, 235, 0.916) 0%, rgba(18, 18, 188, 0.849) 90% );
}
img{
  background: linear-gradient(rgb(255, 247, 247), rgb(255, 255, 255)) padding-box, linear-gradient(to right, #e3373728, #c3c3c33c, #fbfbfb33) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #04309894;
  padding: 0.5em 1.5em;
  cursor: pointer;
    padding: 5px;
    border-style: solid;
    display: flex;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    background: #262525;
    font-family:'Helvetica Neue', sans-serif;
}

h1 a {
  font-size: 80px;
  color: #4879c7;
  text-decoration: none;
  text-transform: uppercase;
}

.popover {
   display: none;
   box-shadow: 0px 6px 8px rgb(255, 255, 255);
}

.popover:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: #a8a4a4;
  animation: 1s grow ease forwards;
  text-align: center;
}

.nav_list  {
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
  font-size: 50px;
  color: rgb(10, 79, 158);
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 2s slideUp ease forwards .5s;
  position: relative;
}

.nav_list li::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: #0c143a; 
  transition: all .5s ease;
}

.nav_list li:hover:before {
      width: 100%;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #3937c9;
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0; 
  animation: 1s fadeIn ease forwards .5s;
}

@keyframes grow {
  100% {
    height: 90%;
    width: 90%;
 }
}

@keyframes fadeIn {
100% {
  opacity: 1;
 }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
	background: linear-gradient(#031475, #202ba8e2, #0b2780db, #c7c7c7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.minecraft{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;;
}
.pond {
  justify-content: center;
align-items: center;
  align-content:center;
  display: flex;
flex-direction:column;
}
body {
  font-family: sans-serif;
  background-color: #46778e;
  font-weight: bold;
}

.text-box {
  padding: 30px;
  display: flex;
  justify-content: center;
align-items: center;
}

